<div class="klarna">
  <p>
    <%= I18n.t("klarna.name") %><br><br>
    <%= image_tag "/assets/klarna_logo.png", width: "120" %><br><br>
    * <%= I18n.t("klarna.desc1") %><br>
    * <%= I18n.t("klarna.desc2") %><br>
    * <%= I18n.t("klarna.desc3") %><br>
    * <%= I18n.t("klarna.desc4") %><br>
  </p>
</div>
